extends ../layouts/foscl

append body
  .container
    .col-md-6
      h2 what we do
      p Our objectives, as defined in our constitution, are to advance the education and quality of life of the public by
      ul
        li the provision of resources to Sonning Common Library.
        li the promotion, support and improvement of Sonning Common Library through the activities of the Friends.
        li working for the continuance of an effective Library Service for Sonning Common and the surrounding communities.
      p A copy of our #[a(href='download/constitution') constitution can be downloaded] or viewed in the library.
      br
      p We work closely with Oxfordshire Libraries providing volunteers to assist the professional staff in the library and valuable additional funds for books and other resources.
      br 
      p Volunteers are also involved in regular events in the library as well as the home library service.
    .col-md-6
      h2 volunteers
      p We are a group of volunteers who, under our partnership agreement with Oxfordshire Libraries, work alongside professional staff to help run the library and the services it provides. We also raise funds to help maintain an effective library service.
      p Find out more about #[a(href='https://www.oxfordshire.gov.uk/cms/public-site/volunteering-oxfordshire-libraries') Volunteering in Oxfordshire Libraries] or ask about it in the library.
    .col-md-6
      h2 executive committee
      p FoSCL is managed by an executive committee that is elected annually by the members.
      br
      h5 Current Executive Committee 
      p Jill Hutchinson (Chair)
      p Helen Fort (Treasurer)
      p Jenny Jones (Secretary)
      p Adele O’Connor
      p Val Harris
      p Lyn Smurthwaite
      p Dan Remenyi
    .clearfix 
    .col-md-6
      h2 become a member
      p Membership of FoSCL costs only £10 a year. You can #[a(href='download/membership') download an application] or obtain one from the library.
      p If you are a tax payer please consider Gift-Aiding your application as we can then claim back 25p for every £1 you donate. If you are a member or looking to make a personal donation please consider making a #[a(href='download/gift-aid') gift-aid delaration].
      p The funds raised help provide resources for Sonning Common Library.
    .col-md-6
      img( src='images/foscl-logo-only-transparent.png' alt="foscl logo" width='100%')
    