+table-bordered(["Day","Times"],[["Monday","2pm - 5pm"],["Tuesday","Closed"],["Wednesday","2pm - 7pm"],["Thursday","9am - 1pm and 2pm - 5pm"],["Friday","9am - 1pm and 2pm - 5pm"],["Saturday","9.30am - 12.30pm"],["Sunday","Closed"]])
a(href="https://www.oxfordshire.gov.uk/residents/leisure-and-culture/libraries") More information from Oxfordshire Libraries
    