extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

append body
  .container
   
      .col-md-6
        h1 Photography Competition
        p Some say a picture is worth a thousand words - so FoSCL is asking those with an artistic bent to take part in our photography competition.
        p The theme of this compettion is the wonderful village of Sonning Common and the beautiful countryside that surrounds it.
        p The winning entries will be turned in to postcards!
        p.bold Before you enter please make sure you read the #[a(href='/download/foscl-photography-rules-2019') rules].
        
      .col-md-6
        h3 How to enter
        ol
          li #[strong Important] : Make sure you read and understand the #[a(href='/download/foscl-photography-rules-2019') rules] before you go any further. 
          li Download our #[a(href='/download/photo-competition-entry') entry form]. You will need a pdf reader to be able to complete the form. If you do not already have one installed you can #[a(href='https://get.adobe.com/uk/reader') download a free pdf reader here ]. 
          li  Complete the entry form on your computer and save it.
          li Go to #[a(href='https://wetransfer.com' target="_blank") WeTransfer.com]
            ul
              li click ‘Add your files’ and select your photograph(s) and your completed entry form from their locations on your computer (or other device);
              li enter the email address photos@friendsofsonningcommonlibrary.org.uk in the ‘Email to’ field; and
              li enter your email address in the ‘Your email’ field
              li in the ‘Message’ field, add the title of your photograph(s); and 
              li Click ‘Transfer’
          h5 You may upload additional photographs with a copy of your entry form at any time before the closing date.