extends ../layouts/foscl

block link
  -var activeMenu = 'Contact Us';


append body
  .container

  h1 Contact Us
  .container
    .col-md-6
      h3 Sonning Common Library
      br
      p You can phone or visit the library during opening hours or simply email the library. 
      br
      p Grove Road
      p Sonning Common
      p RG4 9RH
      p phone : 0118 972 2448
      p 24-hour renewal : 0845 1202811 (you will need your 4 digit PIN)
      p email : #[a(href='mailto:sonningcommon.library@oxfordshire.gov.uk') sonningcommon.library@oxfordshire.gov.uk]
      br
      h3 Friends of Sonning Common Library
      br
      p If you would like more information about FoSCL, our activities or would like to offer your support
      p email : #[a(href='mailto:friendsofsonningcommonlibrary@gmail.com') friendsofsonningcommonlibrary@gmail.com]
      br
      h3 Volunteering
      br
      p If you are interested in volunteering please ask in the library or contact #[a(href='https://www.oxfordshire.gov.uk/cms/public-site/volunteering-oxfordshire-libraries') Oxfordshire Libraries] via their website.
    