extends ../layouts/foscl
block link
  -var activeMenu = 'Download';

append body
  h1 Downloads
  .container
    .col-md-9
      p We hope you find the downloads you are looking for on this page. If you are looking for something else please #[a(href='/contact') contact us].
      p
      .col-md-9.col-md-offset-3
        each cat in downloads
          h3 #{cat.category}
          ul
            each item in cat.items
              if item.link
                li #[a(href='download/' + item.link) #{item.description}]
            else
              p No items in this category