extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

append body
  h1 Forthcoming Events
  .container
    .col-md-8
      h2 FoSCL Short Story Competition
      h5 Opens 1st June 2017
      h5 Closes 23rd September
      br
      p Winners to be announced during #[a(href='http://www.librariesweek.org.uk/') National Libraries Week]. Saturday 14th October 2017 in the library 11am
      a(href='/shortstory') More Information and how to enter here
      br
      h2 FoSCL Quiz Night
      h5 Friday 6th October 2017
      h5 Doors Open 7pm for 7.30pm
      h6 Sonning Common Village Hall
      p
      p Tickets £20 per table (maximum 6 people) available in the Library and Occasions
      h8 This event is to launch #[a(href='http://www.librariesweek.org.uk/') National Libraries Week].
      br
      h2 National Libraries Week
      h5 9th October - 14th October 2017
      br
      h2 A Writer's Life
      h5 Tuesday 10th October 2017
      h5 Starts 7.30pm
      h6 Sonning Common Library
      br
      .col-md-6
        img(src='/images/writerslife.jpg' width='100%')
      .col-md-6
        p Join local authors Vera Morris and Tom Fort for insights into the joys, disappointments and practicalities of being a writer. Does anybody still write with an old fashioned pen? Can anyone match Trollope’s prodigious output of three thousand words a day and is writer’s block painful? 
        p Tickets £5 (includes a glass of wine) are available from Occasions and the Library.
      .col-md-12
        br
        h2 FoSCL Short Story Competition Presentation
        h5 Saturday 14th October 2017
        h5 11am
        h6 Sonning Common Library
        p
        br
        h2 FoSCL Annual General Meeting
        h5 Thursday 23rd November 2017
        h5 7pm
        h6 Sonning Common Library
        p
        p If you’re a member or a volunteer come along and find out what books have been bought with the money we’ve raised over the last 12 months.  We always welcome new members so come along and sign up to support this valuable village asset. 
   

