extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

append body
  h1 Forthcoming Events
  .container
    .col-md-8
      h2 Craft Mornings
      h5 Saturday 9th December 
      h5 Saturday 16th December
      h6 Sonning Common Library
      p
      p Christmas themed Craft Mornings for under 10s from 10am
      p Cake Stall
      br
      h2 Christmas Refreshments
      h5 Thursday 21st December 2017
      h5 2pm - 5pm
      h6 Sonning Common Library
      p
      p Everyone welcome. 
      br
      h2 A Writer's Life
      h5 To be announced
      br
      .col-md-4
        img(src='/images/writerslife.jpg' width='100%')
      .col-md-8
        p Join local authors Vera Morris and Tom Fort for insights into the joys, disappointments and practicalities of being a writer. Does anybody still write with an old fashioned pen? Can anyone match Trollope’s prodigious output of three thousand words a day and is writer’s block painful? 
    
  

