extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

append body
  h1 Forthcoming Events
  .container
    .col-md-8
      h2 A Writer's Life
      h5 To be announced
      br
      .col-md-4
        img(src='/images/writerslife.jpg' width='100%')
      .col-md-8
        p Join local authors Vera Morris and Tom Fort for insights into the joys, disappointments and practicalities of being a writer. Does anybody still write with an old fashioned pen? Can anyone match Trollope’s prodigious output of three thousand words a day and is writer’s block painful? 
    
  

