extends ../layouts/foscl


append body
  .container
    h1 Forthcoming Events
    .col-md-8
      h2 FoSCL Short Story Competition
      h5 Opens 1st June 2017
      h5 Closes 1st October
      br
      p Winners to be announced during #[a(href='http://www.librariesweek.org.uk/') National Libraries Week]. Saturday 14th October 2017 in the library 11am
      a(href='/shortstory') More Information and how to enter here
      br
      h2 FoSCL Quiz Night
      h5 Friday 6th October 2017
      h6 7.30pm
      h7 Sonning Common Village Hall
      p
      p This event is to launch #[a(href='http://www.librariesweek.org.uk/') National Libraries Week] 9th October - 14th October 2017.
      br
      h2 National Libraries Week
      h5 9th October - 14th October 2017
      br
      p A programme of talks, events and presentations will be announced shortly.

