extends ../layouts/foscl

block link
  -var activeMenu = 'Home';

append body
  h1 Friends of Sonning Common Library
  .container
    .col-md-8
      p.lead Friends of Sonning Common Library (FoSCL) exists to promote and support the library by providing it with resources and by working for the continuation of an effective library service. 
      p Cuts to the library budgets have threatened libraries throughout the UK. Sonning Common Library is amongst many smaller libraries that are now supported by volunteers and the activities of a Friends Group.
      img( src='/images/scl01.jpg' alt="sonning common library" width='100%')
      p First set up in 1998, the Friends Group has helped fight two successful campaigns to save the library – the most recent in 2010/11. Since August 2014 our team of volunteers have supported the professional staff by, among other things, shelving books, running story-times, helping customers use the self-service machines and delivering books to people in the community. 
      p FoSCL also raises additional funds to replace the shortfall created by County Council budget cuts. Our main sources of funds are membership fees and donations. As a charity we are able to reclaim tax on individual donations through gift-aid.
      p FoSCL is managed by an Executive Committee elected by the members at its Annual General Meeting.  A copy of our #[a(href='download/constitution') constitution can be downloaded] or viewed in the library. 
    .col-md-4
      +panel-success("Library Opening Hours")
        include b-openinghours.pug
      +panel-info("Greeting Cards")
        h4 Celebrate Sonning Common
        img(src='/images/cards_thumb.png' alt='photo cards' width='30%' align='left' style="padding:5px;")
        br
        p These six beautiful photographs are in our exclusive collection of greeting cards
        br
        strong Now on sale in the Library
      +panel-primary("Events")
        a.list-group-item(href='/events')
          h5 Summer Reading Challenge
          h5 Wild World Heroes
        a.list-group-item(href='/events')
          h5 Click here for more event news
