extends ../layouts/foscl


append body
  .container
   
      .col-md-7
        h1 Short Story Competition
        img(src='/images/short-story.png' width='100%')
      .col-md-5
        p Fancy your hand as a writer? Are you the next J.K Rowling, Anthony Horowitz or Jeff Kinney?  
        p If you’ve got a great story in your head or had a real life adventure, put pen to paper and turn your hand to story-telling.   Friends of Sonning Common Library invites all budding young authors to take part in a short story competition on a topic of your choice.
        p Get writing during the summer holidays and submit your story by September 1st. 
        p The competition opens on June 1st and the winners will be announced on Saturday the 14th October.
        p Gift tokens will be presented as prizes up to the value of £75 for the best stories submitted in three categories: Seven and under, Eleven and under and Sixteen and under.  
        p (Prizes will vary depending on the age group)
        p Entrants should live or go to school in Sonning Common or the local area and should submit their stories of no more than 750 words by email.
        p Please read the #[a(href='/short-story-rules') rules] before you enter. More details can be obtained at Sonning Common Library, where computers are available for those who need them. Please ask a member of staff or volunteer for help.
        br
    
      .col-md-6
        h3 How to enter
        ol
          li Important : Make sure you read and understand the #[a(href='/short-story-rules') rules] before you go any further. 
          p You need to send your story to us in one of these formats 
          p .doc, .docx, .rtf, .odt or .pdf
          p You can create files in one or more of these formats using any version of microsoft word or in libre office (which is #[a(href='https://www.libreoffice.org/download') free to download from here]). If you need help with this you can get access to computers and help typing your entry in the library.
          li Save your story using your title as the filename.
          li Download our #[a(href='/entryform') entry form]. If you do not already have one installed you will need to #[a(href='https://get.adobe.com/uk/reader') download a free pdf reader] in order to complete the form. 
          li Open the and complete the form.
          li Save the form
          li Email the completed and saved form with your story to #[a(href="mailto:sonningcommon.library@oxfordshire.gov.uk?subject=Short Story Competition Entry&body=This is my entry to your short story competition. %0D%0A%0D%0AI enclose%0D%0A%0D%0A - my completed entry form %0D%0A - my story") sonningcommon.library@oxfordshire.gov.uk].
          p <mark>Important</mark> : Only entries sent to this email address can be accepted. 
      .col-md-6
        h3 Sponsors
        p Friends of Sonning Common Library would like to give special thanks to Bewley Homes, Peppard Building Supplies and Sonning Common Vauxhall for agreeing to support the competition. 
        .row
          .col-md-4  
            a(href='http://www.bewley.co.uk/')
              img(src='/images/bewley-homes.jpg')
          .col-md-4  
            a(href='http://www.peppardbuildingsupplies.com/')
              img(src='/images/peppard_building_supplies_logo.gif')
          .col-md-4
            a(href='http://www.sonningcommonvauxhall.com/')
              img(src='/images/vauxhall-badge.png')
