extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

append body
  .container
   
      .col-md-6
        h1 Short Story Competition
        p Have you got a great story to tell, real or imagined, then why not write about it. 
        p Friends of Sonning Common Library invite all you budding authors to take part in a short story competition on a topic of your choice, or the short story may start with the following,
        strong I was both nervous and excited………….
        p or
        strong The holidays started…………...
        img(src='/images/short-story.png' width='100%')
        p
        p Your stories need to be submitted by noon on 15th September 2018. The winners will be announced in the Library on Saturday 13th October 2018.
        p Gift tokens will be presented as prizes up to the value of £25 for the best stories submitted in four categories:
        ul
          li 11 years and under,
          li 16 years and under,
          li Over 16 years, and
          li Young people with special needs. 
        p Entrants should live or go to school in Sonning Common or the local area and should submit their stories of no more than 250 words by email.
        p Please read the #[a(href='/short-story-rules') rules] before you enter. More details may be obtained at Sonning Common Library, where computers are available for those who need them. Please ask a member of staff or a volunteer for help.    
      .col-md-6
        h3 How to enter
        ol
          li #[strong Important] : Make sure you read and understand the #[a(href='/short-story-rules') rules] before you go any further. 
          p You need to send your story to us in one of these formats 
          p .doc, .docx, .rtf, or .odt
          p You can create files in one or more of these formats using any version of microsoft word or in libre office (which is #[a(href='https://www.libreoffice.org/download') free to download from here]). If you need help with this you can get access to computers and help typing your entry in the library.
          li Save your story using your title as the filename.
          li Download our #[a(href='/entryform') entry form]. You will need a pdf reader to be able to complete the form. If you do not already have one installed you can #[a(href='https://get.adobe.com/uk/reader') download a free pdf reader here ]. 
          li Open the file and complete the form.
          li Save the form
          li Email the completed and saved form with your story to #[a(href="mailto:sonningcommon.library@oxfordshire.gov.uk?subject=Short Story Competition Entry&body=This is my entry to your short story competition. %0D%0A%0D%0AI enclose%0D%0A%0D%0A - my completed entry form %0D%0A - my story") sonningcommon.library@oxfordshire.gov.uk].
          p <strong>Important : Only entries sent to this email address can be accepted.</strong> 
      