extends ../layouts/foscl


append body
  .container
    h1 Young Person’s Short Story Competition
    h3 Rules of the Competition
    p This Young Person’s Short Story Competition is organised by Friends of Sonning Common Library.
    p The competition is open to young people attending school or living in Sonning Common or the surrounding area.
    p Entrants will be accepted under three categories which are as follows:
    ol
      li Young people 7 years of age or under,
      li Young people 11 years of age or under,
      li Young people 16 years of age or under,
    p There will be an award in each category for children with special needs.
    p The short story can be on any topic. It may be fictional or it may be based on a life event/experience. 
    p The maximum number of words allowed for the short story is 750.
    p The name of the author should not appear on/in the short story, only the title. Each submission must include the following accompanying personal details:
    ol
      li Name of author,
      li Title of Story
      li Email address of a parent or guardian,
      li Telephone number of a parent or guardian,
      li Age at the closing date of 1st September 2017,
      li School attended,
      li Category under which the short story is to be judged,
      li Indicate if eligible for consideration of an award for stories written by authors with special needs.
    p It is the responsibility of the entrant and the entrant’s parent and/or guardian to ensure that they have read and abide by the terms and conditions of the competition. 
    p Entries must be submitted by a parent/or guardian via e-mail to sonningcommon.library@oxfordshire.gov.uk  
    p Anyone with a problem accessing e-mail may obtain help from the library.
    p In accordance with the UK Data Protection Act (1998) personal data will 
      ul
        li only be used for administering the competition
        li not be shared with any third party
        li be held securely
        li be destroyed after the Competition has been completed and the prizes awarded
    p Entry is free and should be the work of one individual. Only one entry to the competition may be submitted by each individual.  Entries cannot be returned so do keep a copy.
    p Entries must be the original work of the author and should not have been submitted elsewhere. Any entries containing plagiarised or offensive material will be disqualified.
    p Entrants will retain the copyright of their stories but by entering the Competition they grant the organisers the right to publish it as the result of the Competition. 
    p Entries will be accepted from 12 noon on 1st June 2017 until 12 noon on 1st September 2017. No submissions will be accepted before the opening date nor after the closing date. The winners will be announced on Saturday 14th October 2017 at Sonning Common Library. 
    p Entries will not be accepted from persons related to members of the Committee of Friends of Sonning Common Library or members of staff.

    p Short story entries will be evaluated by a panel of judges. 
    p Prizes in the form of gift vouchers will be awarded for each Category as follows:
    p Category 1: 1st prize £30, runner up £20 and our special award
    p Category 2: 1st prize £50, runner up £30 and our special award
    p Category 3: 1st prize £75, runner up £45 and our special award   
    p Further prizes may be awarded at the discretion of the judging panel.
    p All prize winning stories will be published in an electronic book and made available to all entrants. 
    p The judges’ decisions are final and no correspondence will be entered into.

