extends ../layouts/foscl


append body
  .container
    h1 Short Story Competition 2018
    h3 Rules of the Competition
    p This Short Story Competition is organised by Friends of Sonning Common Library.
    p The competition is open to young people attending school or living in Sonning Common, Kidmore End and Peppard and to adults, who live in these parishes or who are members of Sonning Common Library.
    p Entrants will be accepted under four categories which are as follows:
    ol
      li Young people 11 years of age or under,
      li Young people 16 years of age or under,
      li Over 16
      li A special award for young people with special needs.
    p The short story can be on any topic or it may start with the following
    strong ‘I was both nervous and excited ‘…………
    p 
    p  Or alternatively
    strong ‘The holidays started ‘ ……………….. 
    p 
    p The maximum number of words allowed for the short story is <strong>250</strong>.
    p The name of the author should not appear on/in the short story, only the title. Each submission must include an entry form with the following accompanying personal details:    ol
    ol
      li Title of Story
      li Name of author
      li Age at 1st September 2018 (Young people only)
      li School attended 2017-2018 (Young people only)
      li Category under which the short story is to be judged,
      li Email address of author, or in the case of a young person their parent or guardian
      li Telephone number of author, or in the case of a young person their parent or guardian
      li Home postcode
    p It is the responsibility of the entrant or the entrant’s parent or guardian to ensure that they have read and will abide by the terms and conditions of the competition. 
    p Entries must be submitted by the author or in the case of a young person their parent or guardian via e-mail to sonningcommon.library@oxfordshire.gov.uk. Anyone with a problem accessing e-mail may obtain help from the library.
    p 
    p In accordance with the UK Data Protection Act (1998) personal data will 
    ul
      li only be used for administering the competition
      li not be shared with any third party
      li be held securely
      li be destroyed after the Competition has been completed and the prizes awarded
    p Entry is free and should be the work of one individual. Only one entry to the competition may be submitted by each individual.  Entries cannot be returned so do keep a copy.
    p Entries must be the original work of the author and should not have been submitted elsewhere. Any entries containing plagiarised or offensive material will be disqualified.
    p Entrants will retain the copyright of their stories but, by entering the Competition they grant the organisers the right to publish it as the result of the Competition.
    p <strong>Entries will be accepted until 12 noon on 15th September 2018. No submissions will be accepted after the closing date.</strong>
    p The winners will be announced on Saturday 13th October 2018 at Sonning Common Library. 
    p Entries will not be accepted from persons related to members of the Committee of Friends of Sonning Common Library or members of staff.
    p Short story entries will be evaluated by a panel of judges. 
    p Prizes in the form of gift vouchers will be awarded for each Category as follows:
    ul
    li Category 1: 1st prize £25, runner up £10 and our special award
    li Category 2: 1st prize £25, runner up £10 and our special award
    li Category 3: 1st prize £25, runner up £10 and our special award 
    li Category 4: 1st prize £25, runner up £10 and our special award 
    p
    p Further prizes may be awarded at the discretion of the judging panel.
    p All prize winning stories will be published in an electronic book and made available to all entrants. 
    p The judges’ decisions are final and no correspondence will be entered into.
    p Enquiries about the Competition and entry forms may be had from:
    ul
    li Sonning Common Library
    li via email to friendsofsonningcommonlibrary@gmail.com
    li by visiting the FoSCL website www.friendsofsonningcommonlibrary.org.uk
