body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.banner-purple {
  border: solid #6630EA;
  color : red;
  text-align: center;
  vertical-align: middle;
  background-color:#6630EA;
  height: 50px;
}
.line-thro {
  text-decoration: line-through;
}
.showevent {
  margin-top: 50px;
}